# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
__init__.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# test files
test_dir/

*.egg-info
dist

.DS_Store
